
.img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    border-radius: 20px;
}

.active {
    opacity: 1;
}

.prev{
    opacity: 0.4;
    animation: moveLeft;
    animation-duration: 0.5s;
    scale: 0.9;
}

.next{
    opacity: 0.4;
    animation: moveLeft;
    animation-duration: 0.5s;
    scale: 0.9;
}


@keyframes moveLeft{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}