

.img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: transform 0.5s, opacity 0.3s;
  }
  
  .active {
    opacity: 1;
    
    transform: translateX(0%);
  }
  
  .prev {
    opacity: 0.4;
    transform: translateX(-100%) scale(0.9);
  }
  
  .next {
    opacity: 0.4;
    transform: translateX(100%) scale(0.9);
  }


